@import url(https://fonts.googleapis.com/css?family=Roboto);

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 20px;
  background: silver;
  text-align: right;
  padding-right: 25px;
  z-index: 2000;
}

#nationSelectionDescription {
  position: absolute;
  font-size: 25px;
  left: 100px;
}

#unitSelectionDiv {
  width: 120px;
  position: absolute;
  z-index: 10
}

#budgetBackground {
  background-color: white;
  opacity: 0.5;
  position: absolute;
  width: 300px;
  height: 50px;
  border: 2px solid blue;
}

#budgetInfo {
  position: absolute;
  width: 300px;
  height: 50px;
}

.player {
  text-align: center;
  position: absolute;
  width: 100px;
  height: 25px;
  left: 50px;
}
.phaseButton{
  cursor: pointer;
  text-align: center;
  position: absolute;
  background-color: #88ee99;
}

.matchmaking{
  background-color: silver;
}

.matchmakingInner{
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
  height: 100%;
}
.leftColumn{
  top: 30px;
  float: left;
  width: 46%;
  position: relative;
  left: 52%;
  overflow: hidden;
  border: 1px solid black;
}
.games{
  top: 30px;
  float: left;
  width: 46%;
  position: relative;
  left: 56%;
  overflow: hidden;
  border: 1px solid black;
}
.players{
  width: 100%;
  float: left;
  overflow: hidden;
  border: 1px solid black;
}

.players.playerItem{
  width: 100% -8px;
  height: 42px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid blue;
  margin: 4px;
  padding: 4px;
  box-sizing: border-box;
}

.gameItem{
   width: 100% -8px;
   height: 42px;
   font-size: 16px;
   cursor: pointer;
   border: 1px solid blue;
   margin: 4px;
   padding: 4px;
   box-sizing: border-box;

 }

.nation{
  float: left;
  width: 80px;
  height: 80px;
  cursor: pointer;
  box-sizing: border-box;
}
.nation.selected{
  border: 7px solid black;
}

.nationSelect{
  height: 84px;
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.purple{
  background-color: purple;
}

.clearer{
  clear: both;
}

.unitSelection{
    background-color: silver;
    position: absolute;
    top: 20px;
    left: 0;
    height: 100%;
    width: 140px;
    overflow-y: auto;
    z-index: 2000;
}

.unitToSelect{
    margin: 4px;
    padding: 4px;
}

.unitToSelect.selected{
    width: 108px;
    height: 96px;
    border: 4px solid red;
    box-sizing: border-box;
}